services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_MODE=master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host spark-master --port 7077 --webui-port 8080"
    volumes:
      - ./spark_jobs:/opt/spark/spark_jobs
      - ./jars:/opt/spark/jars_ex
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - sparknet

  spark-worker-1:
    image: apache/spark:3.5.1
    container_name: spark-worker-1
    hostname: spark-worker-1
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker --webui-port 8081 --cores 1 --memory 1G spark://spark-master:7077"
    volumes:
      - ./spark_jobs:/opt/spark/spark_jobs
      - ./jars:/opt/spark/jars_ex
    ports:
      - "8081:8081"
    networks:
      - sparknet

  spark-worker-2:
    image: apache/spark:3.5.1
    container_name: spark-worker-2
    hostname: spark-worker-2
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077 --webui-port 8082 --cores 2 --memory 2G"
    volumes:
      - ./spark_jobs:/opt/spark/spark_jobs
      - ./jars:/opt/spark/jars_ex
    ports:
      - "8082:8082"
    networks:
      - sparknet

  airflow:
    image: apache/airflow:latest
    container_name: airflow
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./jars:/opt/airflow/jars_ex
      - ./spark_jobs:/opt/spark/spark_jobs
    ports:
      - "18080:8080"
    networks:
      - sparknet
    command: ["airflow", "standalone"]

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: admin
    ports:
      - "8123:8123"
      - "19000:9000"
    networks:
      - sparknet

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - sparknet

networks:
  sparknet:
    driver: bridge
