services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_MODE=master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
               --host spark-master
               --port 7077
               --webui-port 8080"
    ports:
      - "8080:8080"
      - "7077:7077"
    networks:
      - def-net

  spark-worker-1:
    image: apache/spark:3.5.1
    container_name: spark-worker-1
    hostname: spark-worker-1
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker --webui-port 8081 --cores 1 --memory 1G spark://spark-master:7077"
    ports:
      - "8081:8081"
    networks:
      - def-net

  spark-worker-2:
    image: apache/spark:3.5.1
    container_name: spark-worker-2
    hostname: spark-worker-2
    depends_on:
      - spark-master
    command: >
      bash -c "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker
               spark://spark-master:7077
               --webui-port 8082
               --cores 2
               --memory 2G"
    ports:
      - "8082:8082"
    networks:
      - def-net

networks:
  def-net:
    external: true
